<form method="post" action="{{ path('list_items_delete', {'id': list_item.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ list_item.id) }}">
    <button class="btn">Delete</button>
</form>
